/* Use flexbox to display the divs in a row. When resizing the page, the divs on the last row should take up all available space */

body {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    border: 5px solid red;
}

div {
    flex: 2 1 auto;
    height: 100px;
    width: 150px; 
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}